{% extends 'base_page.html' %}
{% load static %}

{% block title %}
{{ block.super }} - О нас
{% endblock %}

{% block content %}

<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Наш генеральный партнер</h1>
          <p>Мы работаем только с самыми лучшими!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="about-img">
					<img class="img-responsive" src="/static/images/company/about.jpg">
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="mt-40">Наш генеральный партнер <br> ООО "Орифлэйм Косметикс"</h2>
				<p>При выборе партнера мы руководствовались этими критериями: надежность, собственная производственная база, научный потенциал, налаженная инфраструктура </p>
				<a href="https://ru.wikipedia.org/wiki/Oriflame" class="btn btn-small mt-20">Компания в Википедии</a>
			</div>
		</div>
		<div class="row counter-box text-center mt-50">
			<div class="col-md-2">
				<div class="counter-item">
	                <i class="ion-ios-flask-outline"></i>
	                <h4 class="counter">2</h4>
	                <span>Собственных исследовательских центра</span>
	            </div>
			</div>
			<div class="col-md-2">
				<div class="counter-item">
	                <i class="icon ion-ios-home"></i>
	                <h4 class="counter">5</h4>
	                <span>Собственных фабрик</span>
	            </div>
			</div>
			<div class="col-md-2">
				<div class="counter-item">
	                <i class="icon ion-earth"></i>
	                <h4 class="counter">14</h4>
	                <span>Региональных филиалов по всей России</span>
	            </div>
			</div>
			<div class="col-md-2">
				<div class="counter-item">
	                <i class="icon ion-ribbon-b"></i>
	                <h4 class="counter">3</h4>
	                <span>Место по количеству онлайн покупок в России</span>
	            </div>
			</div>

			<div class="col-md-2">
				<div class="counter-item">
	                <i class="icon ion-cash"></i>
	                <h4 class="counter">201</h4>
	                <span>Миллионов рублей уставной капитал в России</span>
	            </div>
			</div>
			<div class="col-md-2">
				<div class="counter-item">
	                <i class="ion-ios-body-outline"></i>
	                <h4 class="counter">8 000</h4>
	                <span>Штатных сотрудников по всему миру</span>
	            </div>
			</div>
		</div>
	</div>
</section>


<section class="about-feature bg-dark section dark-service">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
					<h2>Мы гордимся нашим партнером</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="service-item">
		          <i class="ion-ios-color-filter-outline"></i>
		          <h4>Инновации</h4>
		          <p>Более 20 технологий запатентовала компания</p>
		        </div>
			</div>
			<div class="col-md-4">
				<div class="service-item">
		          <i class="ion-ios-unlocked-outline"></i>
		          <h4>Контроль качества</h4>
		          <p>Жетский контроль качества и добровольная сертификация производимой продукции</p>
		        </div>
			</div>
			<div class="col-md-4">
				<div class="service-item">
		          <i class="icon ion-android-car"></i>
		          <h4>Доставка по регионам</h4>
		          <p>Отлаженная доставка по всем регионам России. Более 3 200 сервисных пунктов обслуживания</p>
		        </div>
			</div>
			<div class="col-md-4">
				<div class="service-item">
		          <i class="ion-ios-mic-outline"></i>
		          <h4>Признание среди профессионалов</h4>
		          <p>Президент и генеральный директор компании Орифлэйм избран председателем Всемирной федерации ассоциаций прямых продаж</p>
		        </div>
			</div>
			<div class="col-md-4">
				<div class="service-item">
		          <i class="ion-ios-lightbulb-outline"></i>
		          <h4>Научный персонал</h4>
		          <p>Более 150 научных сотрудников работает в компании, в том числе кандидаты и доктора наук</p>
		        </div>
			</div>
			<div class="col-md-4">
				<div class="service-item">
		          <i class="icon ion-ios-person"></i>
		          <h4>Высокие партнеры</h4>
		          <p>Тесное сотрудничество с Королевским домом Швеции с 2004 года</p>
		        </div>
			</div>
		</div>
	</div>
</section>


<section class="testimonial section-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="testimonial-carousel text-center">
		          <div  class="testimonial-slider owl-carousel">
		            <div>
		              <i class="ion-quote"></i>
		              <p>"В 21 веке будут существовать два вида компаний - те, кто делает бизнес в интернете, и те, кто вышел из бизнеса."</p>
		              <div class="user">
		                <img src="/static/images/company/bill-gates.jpg" alt="Pepole">
		                <p><span>Билл Гейтс</span> Майкрософт</p>
		              </div>
		            </div>
		            <div>
		              <i class="ion-quote"></i>
		              <p>"Единственное, что Вам нужно сделать — найти уважаемую компанию, которой Вы можете доверять, и предлагающую продукты или услуги, от которых Вы в восторге."</p>
		              <div class="user">
		                <img src="/static/images/company/david-bah.jpg" alt="Pepole">
		                <p><span>Дэвид Бах</span>Американский философ и публицист</p>
		              </div>
		            </div>
		            <div>
		              <i class="ion-quote"></i>
		              <p>"Чтобы неизменно добиваться успеха, нам нужны четкие цели и реальные перспективы совместной деятельности. Только зная, куда и как идти, мы можем достичь поставленной цели."</p>
		              <div class="user">
		                <img src="/static/images/company/rober-jonas.jpg" alt="Pepole">
		                <p><span>Йонас и Роберт аф Йокник</span>Основатели компании "Oriflame"</p>
		              </div>
		            </div>
		            <div>
		              <i class="ion-quote"></i>
		              <p>"Россия - это рынок номер один для нас, по продаже, по объему. Значит, для нас это не только одна страна, это почти наша родина сейчас."</p>
		              <div class="user">
		                <img src="/static/images/company/Magnus.jpg" alt="Pepole">
		                <p><span>Магнус Брэннстром</span>Генеральный директор и СЕО компании "Oriflame"</p>
		              </div>
		            </div>
		          </div>
		        </div>
			</div>
			<div class="col-md-6">
				<div class="tabCommon">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#vision" data-toggle="tab">Видение</a></li>
						<li><a href="#mission" data-toggle="tab">Миссия</a></li>
						<li><a href="#approch" data-toggle="tab">От руководства</a></li>
					</ul>
					<div class="tab-content">
						<div id="vision" class="tab-pane fade active in">
							<p>Компания Орифлэйм - один из крупнейших в Европе и мире производителей продукции для красоты и здоровья, коротко характеризуемой как "Лучшее от природы, лучшее от науки".
                <br>Компания работает более чем в 60 странах мира, продвигая свой продук преимущественно методом многоуровневого маркетинга через своих партнеров с использованием интернет-магазина.
                <br>Орифлэйм стремится стать Компанией прямых продаж №1 в Европе и мире.</p>
						</div>
						<div id="mission" class="tab-pane fade">
							<p>Компания Орифлэйм видит свою миссию в исполнении мечты каждого человека,связанного с ней как клиент, партнер или сотрудник , давая возможность получать удовольствие от продукции, зарабатывать деньги уже сегодня, и достигать больших целей в ближайшем обозримом будущем.
              <br>Компания вкладывает в научные исследования, создание и производство продукции, а так же в денежное вознаграждение своих партнеров значительные средства, исполняя эту благородную задачу.</p>
						</div>
						<div id="approch" class="tab-pane fade">
							<p>Более чем когда-либо мы полны энтузиазма предоставлять людям возможность радоваться нашей продукции, строить карьеру, путешествовать, зарабатывать деньги и отлично выглядеть. <br>
                Наш предпринимательский дух помогает нам достигать результатов и постоянно стремиться к совершенству. Но всегда можно сделать больше и лучше.
                <br>Мы все – часть глобальной команды «Орифлэйм».
                Работая вместе и поддерживая друг друга, мы достигнем нашей общей цели: стать компанией красоты № 1 на рынке прямых продаж.
                <br>Искренне Ваш,
                <br>Магнус Брэннстром.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
