{% extends 'base_page.html' %}
{% load static %}

{% block title %}
{{ block.super }} - FAQ
{% endblock %}

{% block content %}

<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>FAQ</h1>
          <p>Ответы на часто задаваемые вопросы.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>Ответы на часто задаваемые вопросы</h3>
				<p>Обновлено: 20 Ноября, 2018</p>
				<p><i class="icon ion-compose"></i><a href="https://7z7z.ru/f/47106332.html?from=vekref1496u91308" target="_blank">Присоединиться к Бизнес Программе Территория Успеха</a></p>
			</div>
			<div class="col-md-8">
				<h2>Добро пожаловать в программу "Бизнес для жизни"!</h2>
        <br>
        <h4>1.Что такое Бизнес Программа Территория Успеха (БПТУ)?</h4>
				<p>Бизнес-программа Территория Успеха
           является бизнес-системой, обучающей партнеров созданию собственного бизнеса в интернете и «в реале» для создания пассивного дохода, передаваемого по наследству, т.е. дохода, который с определенного момента не требует постоянных трудовых затрат, при этом увеличивается постоянно.
           Для вступления в БПТУ не нужно специальное образование и стартовый капитал. Программа не требует специальных финансовых вложений, вступить в нее может любой гражданин старше 14 лет «как есть», т.е. независимо от существующего финансового, семейного положения, состояния здоровья. Необходимо лишь наличие гражданского паспорта, доступа в интернет и желания\готовности обучаться новой профессии и зарабатывать без нарушения существующего законодательства.</p>
				<h4>2. Какие риски?</h4>
				<p>Рисков нет.
           Вы не вкладываете денег - значит не потеряете их.
           Все, что Вы зарабатываете, поступает на Ваш счет своевременно, без задержек. Компания на рынке почти 50 лет и за это время не было ни одного иска по поводу выплат.
           Единственное, чем Вы рискуете - временем.
           Если Вы не будуте проходить обучение - ничего не добьетесь.</p>
				<h4>3. Что конкретно нужно делать? </h4>
				<p>Работать по уже готовой и проверенной системе, которая позволяет без вложений создать и раскрутить свой небольшой бизнес, и через 3-4 месяца начать получать дополнительный доход 500-1000$ даже без отрыва от основной деятельности.
           Мы развиваем огромный интернет-магазин в партнерстве с крупной компанией, работающей на рынках многих стран. <br> В наш информационный век многие пользуются интернетом для заказа чего-либо. Как показывает статистика, 83% населения хотя бы раз делали заказ в интернет-магазинах, - поэтому это перспективное направление.
           <br> Непосредственно работа состоит в том, чтобы создавать поток покупателей и бизнес-партнеров в этот интернет магазин. В магазине покупатели постоянно что-то покупают, а вам за эту работу платят от 3% до 22% с созданного товарооборота. Доставку, бухгалтерию и ответственность за продукцию берет на себя компания-производитель. Ваша работа - создавать только клиентскую базу через интернет. Как это делать - есть много испытанных методов - мы обучаем.  <br> График гибкий, но необходимо уделять 3-4 часа в день, чтобы добиться успеха за реальное время. Работаем удаленно через интернет. Обучение бесплатное, первое время ему нужно будет уделять больше времени, затем - по мере необходимости.</p>
				<h4>4. Сколько я буду зарабатывать?</h4>
				<p>Размер оплаты зависит от товарооборота, поэтому сначала это является минусом в сравнении с окладом, потому что товарооборот на начальном этапе маленький, но спустя некоторое время вам это станет намного выгоднее, так как вас никто не ограничивает в доходе, как, например, на окладе в офисе Оплата каждые 3 недели на ваш р/с в любом удобном банке.
           <br>Ваш доход - % с товарооборота (от 3 до 22%) Вашего филиала.
           <br>Пока Вы учитесь - товарооборот создаем мы.
           <br>Если 100 человек купят в Вашем филиале на 1000р, вы получите от 3000 до 22 000р.</p>
				<h4>5. А что за интернет-магазин? Кто партнер?</h4>
				<p>Мы работаем по договору об информационных услугах напрямую с производителем ООО Орифлэйм Косметикс. Это надежный долговременный партнер, который уже 50 пет на мировом рынке, акции которого котируются на крупных биржах мира, все котировки в открытом доступе на сайте. Уставной капитал в России составляет более 20 миллиардов рублей. Собственные фабрики в России, Индии, Польше,, Китае, производственные мощности арендуются в Германии, Франции, Италии и т.д. Собственные исследовательские институты в Швеции и Ирландии, собственный штат научных специалистов, среди которых доктора наук, кандидаты, и номинант на Нобилевскую Премию.</p>

			</div>
		</div>
	</div>
</section>

{% endblock %}
