{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aviato E-Commerce Template">

  <title>
  {% block title %}
    Бизнес для жизни
  {% endblock %}
  </title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="{% static 'image/x-icon' %}" href="{% static 'images/favicon.png' %}"
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href="{% static 'plugins/Ionicons/css/ionicons.min.css' %}">
  <!-- animate.css -->
  <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="{% static 'plugins/magnific-popup/dist/magnific-popup.css' %}">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body id="body">
  <!-- Header Start -->
  <header class="navigation">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
  				<!-- header Nav Start -->
  				<nav class="navbar">
  					<div class="container-fluid">
  						<!-- Brand and toggle get grouped for better mobile display -->
  						<div class="navbar-header">
  							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  							<span class="sr-only">Toggle navigation</span>
  							<span class="icon-bar"></span>
  							<span class="icon-bar"></span>
  							<span class="icon-bar"></span>
  							</button>
  							<a class="navbar-brand" href="{% url 'index_url' %}">
  								<img src="{% static 'images/Logotip.png' %}" alt="Logo">
  							</a>
  						</div>
  						<!-- Collect the nav links, forms, and other content for toggling -->
  						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  							<ul class="nav navbar-nav navbar-right">
  								<li><a href="{% url 'index_url' %}">Главная</a></li>
  								<li><a href="{% url 'tools_url' %}">Проекты</a></li>
  								<li><a href="{% url 'service_url' %}">Партнерство</a></li>
  								<li><a href="{% url 'blog_url' %}">Блог</a></li>
  								<li class="dropdown">
  									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Информация</a>
  									<ul class="dropdown-menu">
  										<li><a href="{% url 'about_url' %}">О нас</a></li>
  										<li><a href="{% url 'coming_soon_url' %}">Событие</a></li>
  										<li><a href="{% url 'faq_page_url' %}">FAQ</a></li>
  										<li><a href="{% url 'selection_page_url' %}">Выплаты</a></li>
  									</ul>
  								</li>
  								<li><a href="{% url 'contact_url' %}">Контакты</a></li>
  							</ul>
  						  </div>
  					  </div>
  					</nav>
  				</div>
  			</div>
  		</div>
  	</header>

    {% block content %}

        No content for you, sry

    {% endblock %}

    <!-- footer Start -->
    <footer class="footer">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="footer-manu">
    					<ul>
    						<li><a href="{% url 'about_url' %}">О нас</a></li>
    						<li><a href="{% url 'contact_url' %}">Свяжитесь с нами</a></li>
    						<li><a href="{% url 'service_url' %}">Как это работает</a></li>
    						<li><a href="https://vk.com/o.traynina" target="_blank">Помощь</a></li>
    					</ul>
    				</div>
    				<p class="copyright">Copyright 2018 &copy; Design by <a href="http://www.themefisher.com" target="_blank">themefisher.com</a>.
              <br>Developed by <a href="https://vk.com/neverontuck" target="_blank">Stormx
              <br>All rights reserved.
    				</p>
    			</div>
    		</div>
    	</div>
    </footer>

        <!--
        Essential Scripts
        =====================================-->

        <!-- <script src="js/jquery.counterup.js"></script> -->

        <!-- Main jQuery -->

        <script src="https://code.jquery.com/jquery-git.min.js"></script>
        <!-- Bootstrap 3.1 -->
        <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- Owl Carousel -->
        <script src="{% static 'plugins/slick-carousel/slick/slick.min.js' %}"></script>
        <!--  -->
        <script src="{% static 'plugins/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
        <!-- Mixit Up JS -->
        <script src="{% static 'plugins/mixitup/dist/mixitup.min.js' %}"></script>
        <!-- <script src="plugins/count-down/jquery.lwtCountdown-1.0.js"></script> -->
        <script src="{% static 'plugins/SyoTimer/build/jquery.syotimer.min.js' %}"></script>


        <!-- Form Validator -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>



        <!-- Google Map -->
        <script src="{% static 'plugins/google-map/map.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

        <script src="{% static 'js/script.js' %}"></script>




  </body>
</html>
