{% extends 'base_page.html' %}
{% load static %}

{% block title %}
{{ block.super }} - Контакты
{% endblock %}

{% block content %}

<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Свяжитесь с нами</h1>
          <p>Даже если это просто станет знакомством - оно будет полезным.</p>
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="container">
        <div class="contact-box row">
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <h2>Будем рады встрече</h2>
                    <ul class="address-block">
                        <li>
                            <i class="ion-ios-location-outline"></i>ул. КИМ, 75, Пермь, Пермский край, 614107
                        </li>
                        <li>
                            <i class="ion-ios-email-outline"></i>Email: trajo@biztolife.ru
                        </li>
                        <li>
                            <i class="ion-ios-telephone-outline"></i>Телефон: +7 908 2669 352
                        </li>
                        <li>
                            <i class="icon ion-share"></i> <a href="https://7z7z.ru/f/78942449.html?from=vekref1494u91308" target="_blank">Форма обратной связи</a>
                        </li>
                    </ul>
                    <ul class="social-icons">
                        <li>
                            <a href="http://www.themefisher.com" target="_blank"><i class="icon ion-social-instagram"></i></a>
                        </li>
                        <li>
                            <a href="http://www.themefisher.com" target="_blank"><i class="icon ion-social-whatsapp"></i></a>
                        </li>
                        <li>
                            <a href="http://www.themefisher.com" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                        </li>
                        <li>
                            <a href="http://www.themefisher.com" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <h2>Мы на Google Map</h2>
                    <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1256.434938211294!2d56.29323172526178!3d58.02062817122356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e8c6b133e2d745%3A0x554d2ce5bbd76a4a!2z0YPQuy4g0JrQmNCcLCA3Nywg0J_QtdGA0LzRjCwg0J_QtdGA0LzRgdC60LjQuSDQutGA0LDQuSwgNjE0MTA3!5e0!3m2!1sru!2sru!4v1542823096035" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>

{% endblock %}
