{% extends 'base_page.html' %}
{% load static %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block content %}

<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="animated fadeInUp">Работа в сети</h1>
					<p class="animated fadeInUp">Зарабатывать деньги просто, если ничего не усложнять! <br>  Мы этому учим!</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Wrapper Start -->
<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12">
				<div class="block">
					<div class="section-title">
						<h2>О нас</h2>
            <p>
              Привет!
            </p>
					</div>
          <p>Мы - бизнес-программа Территория Успеха,
          бизнес-система, обучающая партнеров созданию собственного бизнеса в интернете и «в реале» для создания пассивного дохода, передаваемого по наследству, т.е. дохода, который с определенного момента не требует постоянных трудовых затрат, при этом увеличивается постоянно. </p>
				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5 col-sm-12">
				<div class="block">
					<img src="/static/images/wrapper-img.png" alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
	</div>
</section>

<section class="feature bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2 class="section-subtitle">Мы стремимся к высоким целям</h2>
        <p>Мы работаем над тем, чтобы каждый партнер зарабатывал $ 2000 и более в месяц и максимально быстро начал получать пассивный доход.</p>
        <p>Мы развиваем семейный бизнес, используя преимущества нашей Бизнес Программы.</p>
        <p>Мы стремимся стать лучшими в регионе по темпам роста и войти в Топ 15 России.</p>
        <p>Мы улучшаем мир вокруг нас, улучшая жизни большого количества людей.</p>
        <a href="{% url 'service_url' %}" class="btn btn-view-works">Узнать больше</a>
      </div>
    </div>
  </div>
</section>


<section class="call-to-action bg-1 section-sm overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2>Мы готовы помочь Вам сделать Вашу жизнь лучше</h2>
					<a class="btn btn-main btn-solid-border" href="https://7z7z.ru/f/78942449.html?from=vekref1494u91308" target="_blank">Свяжитесь с нами</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Content Start -->
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Цифры говорят о нас</h2>
        <p>Лучше всего о бизнес проектах говорят цифры</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="counter-item">
                <i class="ion-ios-people"></i>
                <h4 class="counter">3 000</h4>
                <span>Более 3 000 партнеров по всей России</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <i class="icon ion-social-usd"></i>
                <h4 class="counter">20 000</h4>
                <span>Более 20 000$ получили наши партнеры в виде единовременных выплат</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <i class="ion-android-plane"></i>
                <h4 class="counter">10</h4>
                <span>Более 10 стран Европы посетили наши партнеры бесплатно</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <i class="icon ion-medkit"></i>
                <h4 class="counter">4700</h4>
                <span>4 700€ передано для благотворительного проекта для детского онкоцентра</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="testimonial-carousel text-center">
          <div  class="testimonial-slider owl-carousel">
            <div>
              <i class="ion-quote"></i>
              <p>"Привет! Я мама двоих замечательных деток: 12 лет и 1 годик. Я пришла в бизнес-программу «Территория Успеха», будучи мамой в декрете! Сейчас сожалею только об одном! Что узнала о ней, лишь в феврале 2018 года!
									В нашей команде работают самые душевные, тёплые, невероятные ребята!
									Мы все, как одна большая семья, где каждый нужен каждому!
									Сейчас я Менеджер 18%! С хорошим доходом и перспективами! Жду-не дождусь поездки в Турцию в мае 2019 года, которую нам оплачивает в полном объёме компания! Это будет круто!!!
									Всегда рады новым активным партнерам!"</p>
              <div class="user">
                <img src="/static/images/teams/elena-1.jpg" alt="Pepole">
                <p><span>Елена</span> Менеджер</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>"В команду территория успеха я пришла с целью работать удалённо и получать 100 000 в месяц. Узнав о команде Территория успеха, меня привлекло то, что они сотрудничают с крупным бредом и имеют свою лестницу успеха. А также вместе с командой Территория всегда есть возможность развиваться, повышать свою квалификацию и работать в команде, где каждый нацелен на успех, на командный успех."</p>
              <div class="user">
                <img src="/static/images/teams/darya-1.jpg" alt="Pepole">
                <p><span>Дарья</span>Менеджер</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>"Меня зовут Екатерина, мне 37 лет, мама в декрете. В Бизнес-программу «Территория Успеха» позвала подруга! Изначально были большие сомнения в эффективности системы! А потом увидела результат и втянулась в работу!
               На сегодня я менеджер 15 %!"</p>
              <div class="user">
                <img src="/static/images/teams/elena-2.jpg" alt="Pepole">
                <p><span>Елена</span>Менеджер</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>"У человека всегда есть выбор: жить в стереотипах прошлого или иметь смелость жить свою жизнь. Благодаря Бизнес-Программе Территория Успеха смогла выйти не только на новый уровень доходов и побывать в нескольких странах, но положить начало семейному бизнесу."</p>
              <div class="user">
                <img src="/static/images/teams/olga-1.jpg" alt="Pepole">
                <p><span>Ольга</span>Директор</p>
              </div>
            </div>
						<div>
              <i class="ion-quote"></i>
              <p>"Меня зовут Ульяна. Мне 22 года. После окончания учебы долго находилась в поиске заработка. В Бизнес-программу "Территория Успеха" позвала мама. Зацепило меня тем, что все как одно целое, единая команда и есть свобода выбора!
									Сейчас я Менеджер 9%! И останавливаться не собираюсь!"</p>
              <div class="user">
                <img src="/static/images/teams/ulyana-1.jpg" alt="Pepole">
                <p><span>Ульяна</span>Менеджер</p>
              </div>
            </div>
						<div>
              <i class="ion-quote"></i>
              <p>"После того как меня сократили на наёмной работе, я поняла, что хочу сама управлять временем и приняла для себя решение больше не зависить от "дяденька". Когда меня пригласили в Бизнес-программу "Территория успеха", решила попробовать и не пожалела, здесь я познакомилась с успешными, позитивными, целеустремлённым людьми и увидела большие перспективы!"</p>
              <div class="user">
                <img src="/static/images/teams/marina-1.jpg" alt="Pepole">
                <p><span>Марина</span>Менеджер</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
