{% extends 'base_page.html' %}
{% load static %}

{% block title %}
{{ block.super }} - Услуги
{% endblock %}

{% block content %}

<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Сопровождение</h1>
          <p>Мы поможем вам построить бизнес для вашей жизни с возможностью передачи его по наследству.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="service-about section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<h2>Наша миссия</h2>
				<p class="mt-30">В стране продолжается кризис, и многие люди лишаются работы, теряют собственное дело, попадают в сложные обстоятельства, утратив привычный образ жизни.<br> В то же время, много людей, которые ищут новые возможности, новые пути достижения успеха. <br>Мы создаем рабочие места для самых разных людей, разного возраста, разного финансового состояния, желающих решить свои очень разные жизненные проблемы.
        <br> Мы даем возможность создавать новое дело, достигать новых вершин без необходимости вложения стартового капитала.<br> Мы помогаем людям! </p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="/static/images/company/comp-prew.jpg">
			</div>
		</div>
	</div>
</section>

<section class="service-arrow">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 bg-primary">
				<div class="block">
					<i class="ion-erlenmeyer-flask"></i>
					<h3>Быстрое комфортное начало</h3>
					<p>Бесплатное открытие интернет-магазина.</p>
				</div>
			</div>
			<div class="col-md-4 bg-primary bg-primary-dark">
				<div class="block">
					<i class="ion-leaf"></i>
					<h3>Бесплатное обучение через интернет</h3>
					<p>Стань профессионалом не выходя из дома. </p>
				</div>
			</div>
			<div class="col-md-4 bg-primary bg-primary-darker">
				<div class="block">
					<i class="ion-lightbulb"></i>
					<h3>Командная поддержка каждого</h3>
					<p>Все партнеры заинтересованы в твоем успехе.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="service-list section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title text-center">
					<h2>ГОТОВАЯ СИСТЕМА</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="block">
					<h4>Готовая система</h4>
					<p>Есть проверенная практикой эффективная система работы, состоящая из простых и понятных действий, не требующая специального образования.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block">
					<h4>Отсутствие необходимости вложений</h4>
					<p>Нет необходимости в каких-либо финансовых вложениях, стартовом капитале.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block">
					<h4>Сопровождение</h4>
					<p>Всем партнерам Программы гарантируется полное сопровождение - до результата: через соцсети, мессенджеры, скайп-консультации.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block">
					<h4>Быстрый результат</h4>
					<p>Для выхода на постоянный доход от 1000$ необходимо научиться и понять суть. На это в среднем уходит 5-6 месяцев. До этого момента доход тоже есть, просто он меньше.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block">
					<h4>Премии</h4>
					<p>За хорошую работу дополнительные премии, бонусы, подарки.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block">
					<h4>Все официально</h4>
					<p>Все выплаты осуществляются через банк. Доход стабильный, растущий.</p>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="call-to-action bg-1 section-sm overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
          <h2>Мы готовы помочь Вам сделать Вашу жизнь лучше</h2>
					<a class="btn btn-main btn-solid-border" href="https://vk.com/o.traynina" target="_blank" >Свяжитесь с нами</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
